<!DOCTYPE html>
<html>
  <head>
    <title>Mongo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Mongo</h1>
    <p>Welcome to Mongo</p>
  </body>
</html>
